# we will cover:
### Logistic Regression
### Linear Discriminant Analysis (LDA)
### K-Nearest Neighbors classifier

### I- Logistic Regression 
#### simple

In [9]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import statsmodels.api as sm

In [10]:
df=pd.read_csv(r"C:\Users\dell\Documents\apprentissage_ML_DL_Python_R_udemy\codes\Python_codes\House_Price_classification_methods.csv",header=0)

In [4]:
# help(pd.read_csv)

In [11]:
df.head()

,price,resid_area,air_qual,room_num,age,teachers,poor_prop,n_hos_beds,n_hot_rooms,rainfall,parks,Sold,moy_dist,airport_YES,waterbody_Lake,waterbody_Lake and River,waterbody_River
0,24.0,32.31,0.538,6.575,65.2,24.7,4.98,5.480,11.19200,23,0.049347,0,4.0875,1,0,0,1
1,21.6,37.07,0.469,6.421,78.9,22.2,9.14,7.332,12.17280,42,0.046146,1,4.9675,0,1,0,0
2,34.7,37.07,0.469,7.185,61.1,22.2,4.03,7.394,46.19856,38,0.045764,0,4.9675,0,0,0,0
3,33.4,32.18,0.458,6.998,45.8,21.3,2.94,9.268,11.26720,45,0.047151,0,6.0650,1,1,0,0
4,36.2,32.18,0.458,7.147,54.2,21.3,5.33,8.824,11.28960,55,0.039474,0,6.0625,0,1,0,0

on veut pr√©dir la variable y=sold en fonction de price=X

In [12]:
X=df[['price']] # X 2 dim

In [14]:
X.shape

(506, 1)

In [15]:
y=df["Sold"]

In [17]:
y.shape

(506,)

In [18]:
# FIRST METHOD
from sklearn.linear_model import LogisticRegression

In [19]:
class_logistic = LogisticRegression()

In [20]:
class_logistic.fit(X,y)

LogisticRegression()

In [21]:
print(class_logistic.intercept_, class_logistic.coef_)

[0.61477516] [[-0.03571865]]

In [22]:
# SECOND METHOD
X_cons=sm.add_constant(X)

In [23]:
X_cons.head()

   const  price
0    1.0   24.0
1    1.0   21.6
2    1.0   34.7
3    1.0   33.4
4    1.0   36.2

In [24]:
import statsmodels.discrete.discrete_model as sn

In [25]:
logit=sn.Logit(y,X_cons).fit()

Optimization terminated successfully.
         Current function value: 0.676690
         Iterations 5

In [35]:
logit.summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                           Logit Regression Results
==============================================================================
Dep. Variable:                   Sold   No. Observations:                  506
Model:                          Logit   Df Residuals:                      504
Method:                           MLE   Df Model:                            1
Date:                Tue, 30 Mar 2021   Pseudo R-squ.:                 0.01788
Time:                        16:49:37   Log-Likelihood:                -342.41
converged:                       True   LL-Null:                       -348.64
Covariance Type:            nonrobust   LLR p-value:                 0.0004142
==============================================================================
                 coef    std err          z      P>|z|      [0.025      0.975]
------------------------------------------------------------------------------
const          0.6149      0.248      2.484      0.013       0.130       1.100
price         -0.0357      0.010     -3.417      0.001      -0.056      -0.015
==============================================================================
"""

### I- Logistic Regression 
#### multiple

In [36]:
X_multi=df.loc[:,df.columns != 'Sold']
y_multi=df['Sold']

In [39]:
multi_logistic = LogisticRegression()
multi_logistic.fit(X_multi,y_multi)

TypeError: fit() got an unexpected keyword argument 'max_iter'